<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.user.Servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.admin.Servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.admin.Servlet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin1</servlet-name>
        <servlet-class>com.user.Servlet.UserLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout1</servlet-name>
        <servlet-class>com.user.Servlet.UserLogout1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpecialist</servlet-name>
        <servlet-class>com.admin.Servlet.AddSpecialist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>com.admin.Servlet.AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor1</servlet-name>
        <servlet-class>com.admin.Servlet.AddDoctor1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctor</servlet-name>
        <servlet-class>com.admin.Servlet.UpdateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>com.admin.Servlet.DeleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>com.doctor.Servlet.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogout</servlet-name>
        <servlet-class>com.doctor.Servlet.DoctorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>com.doctor.Servlet.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.user.Servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorChangePassword</servlet-name>
        <servlet-class>com.doctor.Servlet.DoctorChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.doctor.Servlet.EditProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin1</servlet-name>
        <url-pattern>/UserLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout1</servlet-name>
        <url-pattern>/UserLogout1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpecialist</servlet-name>
        <url-pattern>/AddSpecialist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor1</servlet-name>
        <url-pattern>/AddDoctor1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctor</servlet-name>
        <url-pattern>/UpdateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogout</servlet-name>
        <url-pattern>/DoctorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorChangePassword</servlet-name>
        <url-pattern>/DoctorChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
